{
    "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "jest": true
    },
    "extends": [
      "eslint-config-airbnb",
      "react-app"
    ],
    "rules": {
      "react/forbid-prop-types": 0,
      "react/no-multi-comp": 0,
    }
  }